{% extends 'base.html.twig' %}

{% block title %}Edit Episode{% endblock %}

{% block body %}
    <a href="{{ path('episode_index') }}" class="mb-5">Back to list</a>
    <h1 class="mt-5">Edit Episode from {{ episode.season.program.title }}</h1>

    {{ include('episode/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
